<!-- Left side column. contains the logo and sidebar -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredoka+One&display=swap');
</style>

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <img src="assets/dist/img/logo.png" style=" height: 150px; margin-left: 15px; margin-top: 15px; margin-bottom: 5px;"
                alt="">
        </div>

        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header text-center">MENU</li>

            <li class="treeview">
                <a href="#"><i class="fa fa-archive" aria-hidden="true"></i><span>Almacén</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="/productos"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Productos</a>
                    </li>

                    <li><a routerLink="/categorias"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Categorías</a>
                    </li>

                    <li><a routerLink="/marcas"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Marcas</a>
                    </li>

                    <!-- <li><a routerLink="/etiquetas"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Etiquetas</a>
                    </li> -->

                    <li><a routerLink="/atributos"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Atributos</a>
                </ul>
            </li>
            <!-- <li class="treeview">
                <a href="#"><i class="fa fa-share-square" aria-hidden="true"></i><span>Usuarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a routerLink="/usuarios"><i class="fa fa-sort" aria-hidden="true"></i>Usuarios</a></li>

                </ul>
            </li> -->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
